body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.conteiner {
    max-width: 1280px;
}
.menu-bar{
    margin-top: 31px;
    margin-bottom: 31px;
   
}
.menu{
    text-decoration: none;
    width: 140px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
}
.menu:hover {
    color: pink;
    transition: 0.5s;
}


.header-list {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
}

.content-header{
    text-align: center;
    margin: 48px 0px 38px;
}
.header-text{
    color: #373737;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    opacity: 0.3;
}
.one-text{
    margin-left: auto;
    margin-right: auto;
    max-width: 1145px;
    margin-bottom: 28px;
    
}
.main-text{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.two-text{
    margin-bottom: 66px;
}
.main-button{
    margin-left: auto;
    margin-right: auto;
    width: 191px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF0000;
    border-style: none;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    margin-bottom: 42px;
}
.button-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.footer-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1070px;
    text-align: right;
    margin-bottom: 29px;
}

.footer-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}

